[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Mm]emoryCaptures/
[Ll]ogs/
[Pp]ackages/
[Aa]ssets/[Aa]ssetStoreTools*/
[Aa]ssets/[Aa]ssetBundles/
[Aa]ssets/StreamingAssets/
[Aa]ssets/Plugins/PlasticSCM*/
[Uu]serSettings/

.vs/
.vscode/
.gradle/
.plastic/
ExportedObj/

*.private
*.private.meta

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
*.mp4
*.mp4.meta

sysinfo.txt
ignore.conf

*.apk
*.unitypackage
.collabignore
crashlytics-build.properties
**/Assets/AddressableAssetsData/*/*.bin*
**/assets/addressableassetsdata/*/*.bin*
**/Assets/StreamingAssets/aa.meta
**/assets/streamingassets/*/aa/*
.DS_Store*
Thumbs.db
Desktop.ini

~*
